<div class="info-card">
	@*<img src="~/img/demo/avatars/@ViewBag.Avatar" class="profile-image rounded-circle" alt="@ViewBag.User">*@
	<div class="info-card-text">
	
			<span class="text-white">
				@User.Identity.Name
				@*@ViewBag.User*@
			</span>
		@*<span class="d-inline-block text-truncate text-truncate-sm">state, country</span>*@
	</div>
	<img src="~/img/card-backgrounds/cover-5-lg.png" class="cover" alt="cover">
	<a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
		<i class="fal fa-angle-down"></i>
	</a>
</div>