@*@model IEnumerable<GlobalTeamNetwork.Models.TrxStatus>*@

@{
    ViewData["Title"] = "Manage Translation Progress";
}
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Translation Workflow</title>
    </head>
    <body style="height:100%">
        <h1>Manage Translation Progress</h1>
        <table>
            <tr>
                <td width="30%">
                    <div style="border: 2px solid blue;background-color:lightgrey">
                        <br>&nbsp;&nbsp;<input type="radio" class="clsFull" id="full" name="fullSem" value="full" >&nbsp;<label id="lblFull" onclick="radioClick(this);"><b>Manage Semester</label></br>&nbsp; &nbsp;<br>
                        &nbsp; &nbsp;<input type="radio" class="clsPartial" id="partial" name="fullSem" value="partial" checked>&nbsp;<label id="lblPartial" onclick="radioClick(this);"><b>Manage Selected Courses</label></b>&nbsp; &nbsp; &nbsp; &nbsp;<br><br>
                    </div>
                </td>
                <td width="5%">
                </td>
                <td>
                    Select a Language <select id="langDDL" name="langDDL"></select><br>
                    <br>
                    Select a Semester to Manage&nbsp;<select id="semDDL" name="semDDL"></select><br>
                </td>
            </tr>
        </table>
        <br><br>

            <div id="divMain" style="height:100vh;overflow-y:auto">
                <table id="tblMain" class="table table-bordered table-hover table-striped" style="display: none">
                    <thead>
                        <tr>
                            <th nowrap class="columnSort" width="15%">Language &nbsp;<span class="nobreak sortArrow">&#8593;&#8595;</span></th>
                            <th nowrap class="columnSort" width="25%">Semester &nbsp;<span class="nobreak sortArrow">&#8593;&#8595;</span></th>
                            <th nowrap class="columnSort" width="40%">Course &nbsp;<span class="nobreak sortArrow">&#8593;&#8595;</span></th>
                            <th nowrap class="columnSort" width="10%"><div style='text-align: center'>Select</div></th>
                        </tr>
                    </thead>
                    <tbody class="dataRows">
                    </tbody>
                </table>

                <br><input type="button" id="GetTrxStatus" value="Manage Translations" />
                &nbsp;(This can take up to 120 seconds.)
            </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script type="text/javascript">

    //NOTE: common js functions are found in wwwroot/js/ViewCommon.js
    //scope functions declared inside of document.ready
        var editItem;
        var deleteItem;
        var radioClick;
        var checkAll;
        var checkAllChecked;
        var trxStatuses = new Object();

            $(document).ready(function () {

                checkAll = function (bCheck) {
                    $("#tblMain tbody input:checkbox:enabled").prop("checked", bCheck);
                }

                radioClick = function (label) {
                    if (label.id.toLowerCase().indexOf('full') > -1) {
                        checkAll(true);
                        $('input[name=fullSem]:eq(0)').click();
                        $("#semExamsOnly").show();
                        $("#semExams").prop("checked", true)
                        $("#semExams").prop("disabled", false)
                    }
                    else {
                        //partial
                        checkAll(false);
                        $("#semExamsOnly").hide();
                        $("#semExams").prop("checked", false)
                        $("#semExams").prop("disabled", true)
                        $('input[name=fullSem]:eq(1)').click();
                    }
                }

                $("#semExams").change(function () {
                    if (!$(this).is(":checked")) {
                        $("#semExamsOnly").hide();
                    }
                    else {
                        $("#semExamsOnly").show();
                    }
                });


            //pFilter is passed to the page via query string for page refresh, etc.
            var pFilter = (new URL(location.href)).searchParams.get('filter');

            //Set up the drop down value arrays
            var inputValid = false;
            var delayMils = 900;
            var pageObjectLabel = 'Translation Workflow';

            //Set up TrxStatuses Array
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTrxMgmtJson", "Workflow")',
                dataType: "json",
                async: false,
                success: function (response) {
                    trxStatuses = response;
                }
            });

            //set up languages drop down code
            var languages = [];
            //var langDDLCode = '<select id = "langDDL" name = "langDDL"> '

            for (i = 0; i < trxStatuses.length; i++) {
                var newLanguage = {};
                newLanguage.langName = trxStatuses[i].langName
                newLanguage.langID = trxStatuses[i].langID

                if (languages.filter(function (el) { return el.langID == newLanguage.langID }).length == 0) {
                    languages.push(newLanguage);
                    $('#langDDL').append($('<option>', {
                        value: newLanguage.langID,
                        text: newLanguage.langName
                    }));
                }
            }

                //set up semesters drop down code
                //set semsters list for the first language
                $('#semDDL').empty();
                var semesters = [];

                //alert(languages[0].langID);

                //filter semesters for first language in DDL
                var filteredList = trxStatuses.filter(function (ts) {
                    return ts.langID == parseInt(languages[0].langID);
                });

                //alert(filteredList.length);

                for (i = 0; i < filteredList.length; i++) {
                    var newSemester = {};
                    newSemester.semesterName = filteredList[i].semesterName
                    newSemester.semesterCode = filteredList[i].semesterCode

                    if (semesters.filter(function (el) { return el.semesterCode == newSemester.semesterCode }).length == 0) {
                        semesters.push(newSemester);
                        $('#semDDL').append($('<option>', {
                            value: newSemester.semesterCode,
                            text: newSemester.semesterName
                        }));
                    }
                }

                $("#langDDL").change(function () {

                    //change semesters based on new language
                    var langFilter = $("#langDDL option:selected").val();
                    alert(langFilter);

                    var filteredList = trxStatuses.filter(function (ts) {
                        return ts.langID == parseInt(langFilter);
                    });

                    $('#semDDL').empty();
                    var semesters = [];

                    for (i = 0; i < filteredList.length; i++) {
                        var newSemester = {};
                        newSemester.semesterName = filteredList[i].semesterName
                        newSemester.semesterCode = filteredList[i].semesterCode

                        if (semesters.filter(function (el) { return el.semesterCode == newSemester.semesterCode }).length == 0) {
                            semesters.push(newSemester);
                            $('#semDDL').append($('<option>', {
                                value: newSemester.semesterCode,
                                text: newSemester.semesterName
                            }));
                        }
                    }
                });


                //change rows on Semester or Language change
                $("#semDDL, #langDDL").change(function () {
                //$("#semDDL").change(function () {

                    populateTranslationRows();
                    if ($("input:radio[class='clsFull']").is(":checked")) {
                        checkAll(true);
                    }
                    else {
                        checkAll(false);
                    }
                });

            checkAllChecked = function() {
                //alert('checking');
                if ($("#tblMain tbody input:checkbox:enabled:not(:checked)").length == 0) {
                    //all enabled are checked
                    $("#semExams").prop("disabled", false)
                    $("#semExams").prop("checked", true)
                    $("#semExamsOnly").show();
                    $('input[name=fullSem]:eq(0)').click();
                }
                else {
                    $("#semExams").prop("disabled", true)
                    $("#semExams").prop("checked", false)
                    $("#semExamsOnly").hide();
                    $('input[name=fullSem]:eq(1)').click();

                }
            }

            function populateTranslationRows() {

                //Filter rows based on drop down values
                var langFilter = $("#langDDL option:selected").val();
                var semesterFilter = $("#semDDL option:selected").val();
                var disAbText;
                var filteredList = trxStatuses.filter(function (ts) {
                    return ts.semesterCode == semesterFilter && ts.langID == parseInt(langFilter);
                    //return ts.langID == parseInt(langFilter);
                });

                var tBody = $("#tblMain TBODY")[0];

                ////Remove any existing TBody rows
                $(tBody).empty();

                for (var key in filteredList) {
                    var row = tBody.insertRow(0);
                    //disAbText = ' disabled';
                    disAbText = '';
                    cell = $(row.insertCell(-1));
                    cell.html(filteredList[key].langName);
                    cell = $(row.insertCell(-1));
                    cell.html(filteredList[key].semesterName);
                    cell = $(row.insertCell(-1));
                    cell.html(filteredList[key].courseName);
                    cell = $(row.insertCell(-1));
                    cell.html("<div style='text-align: center'><input class='courseCB' type=checkbox onclick='checkAllChecked();' id=" + filteredList[key].courseCoreID + disAbText + "></div>");
                }
                $('#tblMain').show();
            }

                $("body").on("click", "#GetTrxStatus", function () {

                var stepsValid = true;
                document.body.style.cursor = 'wait';
                $(this).prop('disabled', true);

                //Check for default pay populated - TranslationSteps
                if (emptyTrxDefaultPay()) {
                    stepsValid = false;
                    alert('There are one or more empty DefaultPayDollars values in the TranslationSteps. Please these before proceeding.');
                }

                if (stepsValid) {

                    var goAjax = true;
                    var courseList = "";
                    const transSem = new Object();

                    if ($("#tblMain tbody input:checkbox:enabled:checked").length == 0) {
                        alert("Please select items to manage before continuing.");
                    }
                    else {
                        $("#tblMain tbody input:checkbox:enabled:checked").each(function () {
                            courseList += $(this).attr('id') + ",";
                        });
                        //remove trailing comma
                        courseList = courseList.substring(0, courseList.length - 1);

                        ////set up JSON send data
                        var gExams = 0;
                        if ($('#semExams').is(':checked')) { gExams = 1 }
                        transSem.GenExams = parseInt(gExams);
                        transSem.SemesterCode = "";
                        transSem.CourseCodes = courseList;
                        transSem.LangID = parseInt($("#langDDL").val());
                    }

                    var qStr = 'genExams=' + transSem.GenExams;
                    qStr += '&semesterCode=' + transSem.SemesterCode;
                    qStr += '&courseCodes=' + transSem.CourseCodes;
                    qStr += '&langID=' + transSem.LangID;
                    //alert(qStr);
                    window.location.href = '@Url.Action("ManageTranslations", "Workflow")?' + qStr;
                }

            });

            //on page load only
            $("#semDDL").change();

        });

        </script>

    </body>
</html>
