@model IEnumerable<Language>
@{
    ViewData["Title"] = "Languages";
    ViewData["PageName"] = "admin_languages";
}
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
}


<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-th-list text-primary"></i>  Languages
    </h1>
</div>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead>
                            <tr>
                                <th style="width:10%">langId</th>
                                <th style="width:10%">Name</th>
                                <th style="width:60%">Notes</th>
                                <th style="width:20%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lang in Model)
                            {
                                <tr>
                                    <td>@lang.LangId</td>
                                    <td>@lang.LangName</td>
                                    <td>@lang.Notes</td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-primary waves-effect waves-themed">Edit</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>langId</th>
                                <th>Name</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
