
@{
    ViewData["Title"] = "Payments";
    ViewData["PageName"] = "admin_payments";
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-th-list text-primary"></i>  Payments
    </h1>
</div>
