@model IEnumerable<TranslationStep>
@{
    ViewData["Title"] = "Translation Steps";
    ViewData["PageName"] = "admin_translationsteps";
}
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
}


<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-th-list text-primary"></i>  Translation Steps
    </h1>
</div>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    @*<div class="panel-tag">
                            This example shows DataTables and the Responsive extension being used with the Bootstrap framework providing the styling. The DataTables / Bootstrap integration provides seamless integration for DataTables to be used in a Bootstrap page. <strong>Note</strong> that the <code>.dt-responsive</code> class is used to indicate to the extension that it should be enabled on this page, as responsive has special meaning in Bootstrap. The responsive option could also be used if required
                        </div>*@
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead>
                            <tr>
                                <th>tsID</th>
                                <th>Step</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var step in Model)
                            {
                                <tr>
                                    <td>@step.tsID</td>
                                    <td>@step.Step</td>
                                    <td>@step.Notes</td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-primary waves-effect waves-themed">Edit</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>tsID</th>
                                <th>Step</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
